@import "color";

.fixed-header{
    background-color: #8d6eb1
}

.main-header__logoBox {
    a {
        color: #fff
    }
}

nav.hori-align-end {
    li {
        a {
            color: #fff
        }
    }
}